<div class="container">
  <h2>Management Page</h2>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <a routerLink="/authentication/register" class="btn btn-primary mb-2">Add User</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a [routerLink]="['/ui-components/admin/update']" [queryParams]="{ id: user.id }" class="btn btn-primary btn-sm me-1" title="Editar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
            </svg>
          </a>

          <button class="btn btn-danger btn-sm me-1" (click)="deleteUser(user.id)">Delete</button>
          <!-- <button class="btn btn-info btn-sm" (click)="navigateToUpdate(user.id)">Update</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
