<h2>Editar Materia</h2>
<div class="container">
  <form (ngSubmit)="editarMateria()">
    <div class="form-group mb-2">
      <label for="nombre" class="form-label">Nombre</label>
      <input [(ngModel)]="nombre" type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="form-group mb-2">
      <label for="sigla" class="form-label">Sigla</label>
      <input [(ngModel)]="sigla" type="text" class="form-control" id="sigla" name="sigla" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
