<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-54">
          <div class="or-border">Actualizar</div>
          <div class="text-center m-t-30">
            <a [routerLink]="['/dashboard']">
              <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="80" />
            </a>
          </div>
          <form (ngSubmit)="updateUser()" class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" id="name" name="name" [(ngModel)]="userData.name" required matInput />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" id="email" name="email" [(ngModel)]="userData.email" required matInput />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nueva Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="password" id="password" name="password" [(ngModel)]="userPassword" matInput />
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="w-100">Actualizar</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
