<h2>Crear Carrera</h2>
<div class="container">
  <form (ngSubmit)="guardarCarrera()">
    <div class="form-group mb-2">
      <label for="nro" class="form-label">Nro</label>
      <input [(ngModel)]="nro" type="text" class="form-control" id="nro" name="nro" required>
    </div>
    <div class="form-group mb-2">
      <label for="nombre" class="form-label">Nombre</label>
      <input [(ngModel)]="nombre" type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="form-group mb-2">
      <label for="facultad" class="form-label">Facultad</label>
      <select [(ngModel)]="selectedFacultad" class="form-control" id="facultad" name="facultad" required>
        <option disabled selected value="">Seleccione una facultad</option>
        <option *ngFor="let facultad of facultades" [value]="facultad.id">{{ facultad.nombre }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
