<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="assets/images/logos/favicon.png" class="align-middle m-2" alt="logo" />
            </a>
          </div>
          <div class="or-border m-t-6">Perfil</div>
          <div class="text-center m-t-30">
            <a [routerLink]="['/dashboard']">
              <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="80" />
            </a>
          </div>

          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre:
              {{profileInfo?.ourUsers?.name}}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email:
              {{profileInfo?.ourUsers?.email}}</mat-label>
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
                Rol: {{ profileInfo?.ourUsers?.role === 'USER' ? 'Docente' : profileInfo?.ourUsers?.role }}
              </mat-label>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">Actualizar Datos?
            <a [routerLink]="['/authentication/actualizar/', { id: profileInfo?.ourUsers?.id}]"
              class="text-decoration-none text-primary f-w-500 f-s-14">
              Actualizar
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
